.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 2230px;
}
.section {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  min-width: 100%;
  flex-grow: 0;
  background: url("/plasmic/app_starter/images/pexelsTarikHaiga3637943Jpg.jpg") top 50% right 50% / cover no-repeat;
  height: 100vh;
  min-height: 100vh;
  margin-top: -32px;
  flex-shrink: 0;
  position: relative;
  left: auto;
  top: auto;
  justify-self: center;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0 25px;
}
:where(.section > *) {
  grid-column: 4;
}
.h1__u1CvI {
  position: relative;
  width: 523px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  line-height: 2;
  margin-right: 0px;
}
.h1__ukcLw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;
  font-size: 24px;
  font-family: "Vazirmatn", sans-serif;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__dTs7E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px 36px 0px 38px;
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 800;
  font-size: 16px;
  min-width: 0;
}
.freeBox__ohVes {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #d7d7d733;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 8px;
  border-style: solid;
}
.cmsEntryField__ytW0:global(.__wab_instance) {
  object-fit: cover;
  font-weight: 300;
  width: 104.94%;
  max-height: 200px;
  object-position: center center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  left: auto;
  top: auto;
  position: relative;
  margin-top: -7px;
}
.cmsEntryField__eFb55:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-size: 20px;
  text-align: right;
  width: 100%;
  padding-top: 28px;
  padding-right: 15px;
  min-width: 0;
}
.cmsEntryField__gvJvq:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-weight: 300;
  width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  padding-right: 15px;
  padding-top: 12px;
  min-width: 0;
}
.freeBox___4OtWy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 0;
  align-self: center;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 27px;
  min-width: 0;
  padding: 8px 16px 8px 8px;
}
.h1__ztHjh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 14px;
  font-family: "Vazirmatn", sans-serif;
  text-align: right;
  min-height: 20px;
  line-height: 1.5;
  left: auto;
  top: auto;
  padding-right: 4px;
}
.cmsEntryField___0PHM:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-weight: 400;
  width: auto;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  padding-right: 10px;
  padding-top: 0px;
  height: auto;
  min-height: 100%;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  left: auto;
  top: auto;
}
.h1__tHemn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 14px;
  font-family: "Vazirmatn", sans-serif;
  text-align: right;
  min-height: 20px;
  line-height: 1.5;
  left: auto;
  top: auto;
}
